{% extends 'base.html' %}
{% load crispy_forms_tags %}



{% block title %}
    Register
{% endblock title %}


{% block body %}



<div class="container">
    <div class="container-info">

        <form method="POST">
            {% csrf_token %}

            <div class="form-group">
                {{  form     | crispy }}
                {{  d_form   | crispy }}
                
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>

            
          </form>
    </div>
</div>  

{% endblock body %}